html {
  background-image: url(https://img.freepik.com/free-vector/blurred-valentine-s-day-wallpaper_23-2148819570.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1707177600&semt=ais);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

img {
  max-width: 100%;
}

.valentine-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-family: 'Great Vibes';
}

.button {
  border: none;
  border-radius: .7rem;
  color: white;
  cursor: pointer;
  height: auto;
  justify-content: center;
  justify-items: auto;
  margin: 0% .5rem;
  max-width: fit-content;
  padding: .5rem 1rem;
}

#yesButton {
  background-color: green;
}

#noButton {
  background-color: red;
}

#yay {
  font-size: 300%;
  font-weight: bold;
  margin: 10%;
}
