/* Make responsive for mobile */
@media (max-width: 768px) {
  body {
      padding: 0 20px;
  }
}

.valentine-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Great Vibes';
  justify-content: center;
}

.button {
  align-items: center;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  justify-items: auto;
  margin: 0 10px;
  min-height: 40px;
  min-width: 55px;
  padding: .5rem 1rem;
}

#yesButton {
  background-color: green;
}

#noButton {
  background-color: red;
}

#yay {
  font-weight: bold;
  margin: 30px;
}
