html, body, #root, .valentine-container {
  margin: 0;
  height: 100%;
}

html {
  background-image: url("./resources/images/background-pink-hearts.jpg");
  background-size: cover;
}

img {
  max-height: 60%;
  max-width: 100%;
}

.valentine-container, .valentine-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3.5vw;
  font-family: 'Great Vibes';
}

.button {
  cursor: pointer;
  border: none;
  border-radius: .7rem;
  color: white;
  margin: 0% .5rem;
  padding: .5rem 1rem;
}

#yesButton {
  background-color: green;
}

#noButton {
  background-color: red;
}

#yay {
  font-size: 8vw;
  font-weight: bold;
  margin: 8vh;
}
